* {
  margin: 0px 0px 1rem;
  /* padding: 0;
  box-sizing: border-box; */
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App div {
  margin-top: 1rem;
  font-size: 2rem;
}

h1 {
  margin: 0;
  padding: 3rem;
  font-size: 3rem;
  background-color: #b0c4de;
  margin-bottom: 3rem;
}

h2 {
  margin: 1rem;
}

input {
  padding: 1rem;
  font-size: 1.8rem;
  width: 60%;
  border-radius: 5px;
}